.h1{
    text-align: center;
}

.scrape_header {
    border-radius: 5px;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color:rgb(231, 229, 229);
    text-align: center;
    font-size: xxx-large;
} 

.news_section{
    padding-top: 50px;
}

.image_table_section{
    padding-top: 50px;
}

.hemispheres_section{
    padding-top: 50px;
}